.dash-container {
  background-color: #051622e1;
  justify-content: center;
  height: 100vh;
}

.task-bar {
  background-color: #032238;
  width: 30rem;
  height: 2rem;
  /* margin-top: 30px; */
}
.dash-task {
  grid-template-columns: 1fr 1fr;
}

.one,
.two,
.three,
.four {
  background-color: #495a66d5;
  width: 30rem;
  color: #ffffff;
  padding: 10px 0 0 10px;
  height: 17rem;
  border-radius: 0.7rem;
  /* margin-top: 50px 0 0 -10; */

  /* height: 30rem; */
}

/* .proxy {
  background-color: #6fabd6;
  width: 54rem;
  color: #ffffff;
  padding: 10px 0 0 10px;
  height: 28rem;
} */
/* .one,
.two {
  grid-template-row: 1fr 2fr;
} */
/*  
#1b2039 fullscreen
#1f2641
#2effb2
#2df9ae
#20b894
#e84398
*/
