* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header-overlay {
  /* background: linear-gradient(#111438c6, #111438c6); */
  /* background: #051622CC; */
  background: linear-gradient(#051622cc, #051622cc);
}

.logo-header {
  top: 6rem;
  padding-left: 31rem;
}
.header-text {
  top: 20rem;
  color: #ffffff;
  padding-left: 21rem;
}

.btn {
  position: absolute;
  top: 31rem;
  padding-left: 28.8rem;
}

.b-1 {
  background-color: #1ba098;
  border-radius: 7px;
  width: 11.7rem;
  color: #ffffff;
  height: 3.5rem;
}

.b-2 {
  color: #1ba098;
  border: 1px solid #1ba098;
  border-radius: 7px;
  width: 11.7rem;
  height: 3.5rem;
}

.infograph {
  background-color: #051622;
}

.sub-card1,
.sub-card3 {
  border: 1px solid #1ba098;
}

.sub-card2 {
  background-color: #051622;
}

.sub-card1,
.sub-card3 {
  height: 33rem;
  color: #0b0c70;
}

.sub-card2 {
  height: 33rem;
}

.sub-card1 button,
.sub-card3 button {
  background-color: #1ba098;
  width: 13rem;
  height: 3.4rem;
}

.sub-card2 button {
  color: #1ba098;
  width: 13rem;
  height: 3.4rem;
}
