.proxy-container {
  width: 88%;
  height: 84.6rem;
  margin-left: 11rem;
  /* margin-top: 20rem; */
  background-color: #507b9983;
}

.texts {
  height: 10rem;
}

/* @mixin text {
  height: 20rem;
} */
