.setting-container {
  background-color: #051622e1;
  /* height: 100%; */
}

.sidebar {
  background-color: #051622;
  display: flex;
  justify-content: center;
}
.setting-section {
  background-color: #051622;
  /* height: 90%; */
}

.setting-border {
  /* background-color: #22333fec; */
}

.input1 {
  background-color: #22333fec;
}
.text-list {
  /* width: 90%; */
  /* background-color: #22333fec;/ */
}
