.task-container {
  background-color: #22333fec;
}

.task-card {
  background-color: #051622;
  width: 40%;
  /* grid-template-columns: 1fr, 2fr; */
}

.result {
  background-color: #914310;
  width: 48%;
}
