.sidenav {
  background-color: #051622;
  z-index: 10;
  height: 200%;
}

.user-profile-button {
  background-color: #051622;
  border-radius: 1.5rem;
  height: 49px;
}
.avatar-icon {
  /* font-size: 30px; */
  color: rgb(255, 255, 255);
}

.active-text {
  color: #1ba098;
}

.side-text {
  /* color: #051622; */
}
